/* Global CSS */
*{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
body{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
}
.container {
    width: 450px;
    padding: 50px;
    box-sizing: border-box;
    border: 1px solid #1F781F;
    border-radius: 5px;
    background: #FAFFF9;
}
.form-title{

}
.form-title h2{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 0px;
}
.form-box{

}
label{
    color: #212121;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}
input{
    width: 100%;
    height: 55px;
    border: 1px solid #1F781F;
    border-radius: 3px;
    padding: 0px 10px;
    background: #fff;
    margin: 5px 0px;
    box-sizing: border-box;
}
button{
    font-size: 18px;
    width: 100%;
    height: 50px;
    color: #fff;
    background: #63A042;
    border: 1px solid #63A042;
    border-radius: 3px;
    padding: 0px;
    margin: 5px 0px;
    cursor: pointer;
}
.form-footer{
    padding-top: 20px;
}
.form-footer p{
    color: #212121;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
}
.form-footer p .fiv-charge{
    color: #E18D8D;
}
.form-footer p .fiv-earn{
    color: #1F781F;
}
.calc-errors{
    color: #E18D8D;
    padding: 10px 0px;
    font-weight: 600;
    font-style: italic;
}




/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {

    .container{
        width: 380px;
        padding: 25px;
    }

}